vm_computer_name = "#{vm_computer_name}#"
vm_admin_username = "#{vm_admin_username}#"
azure_do_agent_pool_name = "#{azure_do_agent_pool_name}#"
azure_do_project_name = "#{azure_do_project_name}#"
vm_admin_password = "#{vm_admin_password}#"